<section class="section">
  <div class="container">
    <div class="container-inner">
      <h3 class="ability-title">capable of so much</h3>
      <ul class="ability-list">
        <li class="ability-list-item">Ability to receive calls</li>
        <li class="ability-list-item">Unsurpassed microphone system</li>
        <li class="ability-list-item">Rich and powerful sound</li>
        <li class="ability-list-item">Support of voice assistants</li>
        <li class="ability-list-item">Active noise cancellation option</li>
        <li class="ability-list-item">
          Bose AR Augmented Reality Audio Platform
        </li>
      </ul>
    </div>
  </div>
</section>
