<div class="overlay js-menu-container">
  <div class="container burger-container">
    <div class="burger-head">
      <a href="#"
      ><img src="/assets/img/bose.png" alt="bose logo" width="130"
      /></a>
      <button class="burger js-close-menu" aria-label="Close menu">
        <svg width="24" height="24">
          <use href="/assets/icons/sprite.svg#image"></use>
        </svg>
      </button>
    </div>
    <ul class="burger-menu-list">
      <li><a href="#">Characteristics</a></li>
      <li><a href="#">History</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Payment and delivery</a></li>
    </ul>
  </div>
</div>
