<footer class="footer">
  <div class="container footer__inner">
    <ul class="footer-first-col">
      <li class="footer-item">
        <a href="#characteristics" class="footer-nav-link">Characteristics</a>
      </li>
      <li class="footer-item">
        <a href="#history" class="footer-nav-link">History</a>
      </li>
      <li class="footer-item">
        <a href="#reviews" class="footer-nav-link">Reviews</a>
      </li>
    </ul>
    <ul class="footer-second-col">
      <li class="footer-item">
        <a href="#order" class="footer-nav-link"
        >Payment and delivery</a
        >
      </li>
      <li class="footer-item">
        <a href="https://www.bose.com/stores?showMap=true" target="_blank" class="footer-nav-link">Store addresses</a>
      </li>
      <li class="footer-item"><a href="" class="footer-nav-link">FAQ</a></li>
    </ul>
    <address class="contacts">
      <a href="tel:88001111111" class="contacts-tel">8 (800) 111-11-11</a>
    </address>
  </div>
</footer>
