<section class="section guarantee">
  <div class="container guarantee-wrapper">
    <div class="guarantee-text anim-on-scroll from-right">
      <h2 class="guarantee-title">guarantees</h2>
      <ul class="warranty-list">
        <li class="warranty-list-item">
          <h4 class="warranty-title">90 Day Money Back Guarantee</h4>
          <p class="warranty-text">
            If you are not 100% satisfied with a product, you can return it back
            for a full refund.
          </p>
        </li>
        <li class="warranty-list-item">
          <h4 class="warranty-title">1 year warranty</h4>
          <p class="warranty-text">
            Regardless of your country of residence, if your headphones are
            broken, we will send you new ones.
          </p>
        </li>
      </ul>
    </div>
    <picture class="guarantee-picture  anim-on-scroll from-left">
      <source
        srcset="
          /assets/img/guarantee/guarantee-desktop.webp    1x,
          /assets/img/guarantee/guarantee-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /assets/img/guarantee/guarantee-tablet.webp    1x,
          /assets/img/guarantee/guarantee-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /assets/img/guarantee/guarantee-mobile.webp    1x,
          /assets/img/guarantee/guarantee-mobile@2x.webp 2x
        "
        media="(min-width: 480px)"
      />

      <img
        src="/assets/img/guarantee/guarantee-mobile.webp"
        alt="Headphones with noise cancellation"
        class="guarantee-image"
      />
    </picture>
  </div>
</section>
