<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="#"><img src="/assets/img/bose.png" alt="bose logo" width="100" /></a>
      <button class="burger js-open-menu" aria-expanded="false" aria-label="Toggle menu">
        <svg width="22" height="11">
          <use href="/assets/icons/sprite.svg#burger"></use>
        </svg>
      </button>
      <ul class="nav-menu-list">
        <li><a class="menu-item" href="#">Characteristics</a></li>
        <li><a class="menu-item" href="#">History</a></li>
        <li><a class="menu-item" href="#">Reviews</a></li>
        <li><a class="menu-item" href="#">Payment and delivery</a></li>
      </ul>
    </nav>
  </div>
</header>
