<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="left anim-on-scroll from-left">
        <div class="text-block">
          <p class="text">
            Noise cancellation headphones that are capable for a lot of things
          </p>
          <p class="text">Up to 20 hours of playback</p>
        </div>
        <div class="hero-order container-inner">
          <h1 class="hero-order-title">Headphones Bose NC 700</h1>
          <button type="submit" class="hero-order-button">order</button>
        </div>
      </div>
      <div class="headphones-wrapper anim-on-scroll from-right">
        <picture>
          <source
            srcset="
                  /assets/img/hero/headphones-desktop.webp 1x,
                  /assets/img/hero/headphones-desktop@2x.webp 2x
                "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /assets/img/hero/headphones-tablet.webp 1x,
            /assets/img/hero/headphones-tablet@2x.webp 2x
          "
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /assets/img/hero/headphones-mobile.webp 1x,
           /assets/img/hero/headphones-mobile@2x.webp 2x
          "
            media="(max-width: 767px)"
          />

          <img
            src="/assets/img/hero/headphones-desktop.webp"
            alt="Headphones"
            class="headphones"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
