<section class="section history" id="history">
  <div class="container">
    <div class="history-content anim-on-scroll from-right">
      <div class="history-left">
        <div class="title-wrapper">
          <h3 class="history-title">brand creation history</h3>
        </div>
        <p class="history-description">
          The history of Bose Corporation began with disappointment. In 1956, MIT graduate student Amar Bose bought
          one of the best stereo systems at the time for his home. After a few minutes of listening to the audio
          recording,
          his bewilderment turned to disappointment.
        </p>
        <p class="history-description">
          From Amar's point of view, the sound was so flat and unnatural that it was better not to listen to the music
          at all than to listen to it in such a distorted form.
        </p>
      </div>

      <div class="history-right">
        <div class="history-image-text">
          <picture>
            <source
              srcset="
              /assets/img/history/history-1-desktop.webp    1x,
              /assets/img/history/history-1-desktop@2x.webp 2x
            "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
              /assets/img/history/history-1-tablet.webp    1x,
              /assets/img/history/history-1-tablet@2x.webp 2x
            "
              media="(min-width: 768px)"
            />
            <source
              srcset="
              /assets/img/history/history-1-mobile.webp    1x,
              /assets/img/history/history-1-mobile@2x.webp 2x
            "
              media="(min-width: 480px)"
            />
            <img
              src="/assets/img/history/history-1-mobile.webp"
              alt="history"
              class="history-image"
            />
          </picture>
          <p class="history-description history-bottom-text">
            Bose's frustration grew into a firm determination to build audio equipments that would reproduce sound with
            impeccable accuracy and naturalness.
          </p>
        </div>
      </div>
    </div>
    <figure class="history-figure anim-on-scroll from-left">
      <picture>
        <source
          srcset="/assets/img/history/history-2-desktop.webp 1x, /assets/img/history/history-2-desktop@2x.webp 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="/assets/img/history/history-2-tablet.webp 1x, /assets/img/history/history-2-tablet@2x.webp 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="/assets/img/history/history-2-mobile.webp 1x, /assets/img/history/history-2-mobile@2x.webp 2x"
          media="(max-width: 767px)"
        />
        <img
          src="/assets/img/history/history-2-mobile.webp"
          alt="Amar Bose"
          class="history-founder"
        />
      </picture>
      <figcaption class="history-caption">
        Never stop dreaming. Always dream of the best, and think about how to achieve it.
        <p class="history-quote">Amar Bose is a company founder </p>
      </figcaption>
    </figure>
  </div>
</section>
