<section class="section" id="characteristics">
  <div class="container">
    <h2 class="order-title">bose nc 700</h2>
    <picture>
      <source
        srcset="
          /assets/img/order/black-desktop.webp    1x,
          /assets/img/order/black-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /assets/img/order/black-tablet.webp    1x,
          /assets/img/order/black-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /assets/img/order/black-mobile.webp    1x,
          /assets/img/order/black-mobile@2x.webp 2x
        "
        media="(max-width: 480px)"
      />

      <img
        src="/assets/img/order/black-mobile.webp"
        alt="Headphones Order"
        class="order-image"
      />
    </picture>

    <form class="order-color-button">
      <div class="color-option-container">
        <label class="color-option">
          <input type="radio" name="color" value="black" checked />
          <span class="color-ring"
          ><svg
            width="44"
            height="44"
            viewBox="0 0 45 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
              <circle cx="23" cy="23" r="22" fill="#1D1D1D" />
              <circle
                cx="23"
                cy="23"
                r="21.5"
                stroke="white"
                stroke-opacity="0.8"
              />
              <circle opacity="0.6" cx="23" cy="23" r="16" fill="black" /></svg
          ></span>
        </label>
        <label class="color-option white">
          <input type="radio" name="color" value="white" />
          <span class="color-ring"
          ><svg
            width="44"
            height="44"
            viewBox="0 0 44 44"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
              <circle cx="22" cy="22" r="22" fill="white" fill-opacity="0.8" />
              <circle
                cx="22"
                cy="22"
                r="21.5"
                stroke="white"
                stroke-opacity="0.8"
              />
              <circle
                cx="22"
                cy="22"
                r="16"
                fill="white"
                fill-opacity="0.8"
              /></svg
          ></span>
        </label>
      </div>
    </form>
    <div class="order-content">
      <ul class="order-character-list">
        <li class="order-list-item">
          <p class="order-item-text">Availability in stores</p>
          <span class="order-icon"
          ><svg width="20" height="20">
            <use href="/assets/icons/sprite.svg#arrow"></use></svg
          ></span>
        </li>
        <li class="order-list-item">
          <p class="order-item-text">Characteristics</p>
          <span class="order-icon"
          ><svg width="20" height="20">
            <use href="/assets/icons/sprite.svg#arrow"></use></svg
          ></span>
        </li>
        <li class="order-list-item">
          <p class="order-item-text">Payment and delivery methods</p>
          <span class="order-icon"
          ><svg width="20" height="20">
            <use href="/assets/icons/sprite.svg#arrow"></use></svg
          ></span>
        </li>
      </ul>
      <div class="order-price-container">
        <p class="order-price">14 999 uah</p>
        <button class="hero-order-button" type="button">ORDER</button>
      </div>
    </div>
  </div>
</section>
