<section class="section pre-feedback">

  <picture class="pre-section-feedback">
    <source
      srcset="
                  /assets/img/feedback/feedback-desktop.webp    1x,
                  /assets/img/feedback/feedback-desktop@2x.webp 2x
                "
      media="(min-width: 1440px)"
    />
    <source
      srcset="
                  /assets/img/feedback/feedback-tablet.webp    1x,
                  /assets/img/feedback/feedback-tablet@2x.webp 2x
                "
      media="(min-width: 768px)"
    />
    <source
      srcset="
                  /assets/img/feedback/feedback-mobile.webp    1x,
                  /assets/img/feedback/feedback-mobile@2x.webp 2x
                "
      media="(max-width: 480px)"
    />
    <img
      src="/assets/img/feedback/feedback-mobile@2x.webp"
      alt="Headphones Order"
      class="pre-section-image"
    />
  </picture>

</section>