<section class="section" id="reviews">
  <div class="container">
    <div class="reviews-text-content">

      <a
        href=""
        class="bose-link"
      >Bose Сorporation</a
      >
      <p class="bose-text">
        Critically acclaimed for their powerful noise cancelling, astonishing
        sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700
        help turn any space into the perfect place to listen to music, get work
        done, or just shut out the world for a few moments and relax.
      </p>
    </div>
    <div class="reviews-slider">
      <h2 class="reviews-title">Reviews</h2>
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-video-wrapper">
            <iframe
              class="reviews-video"
              src="https://www.youtube.com/watch?v=VqP11Ma_2Fk&ab_channel=Bose"
              title="YouTube video player"
              frameborder="0"
              allowfullscreen>
            </iframe>
          </div>
          <h3 class="reviews-name">Oleh Lysiak</h3>
          <p class="reviews-text">Critically acclaimed for their powerful noise cancelling, astonishing
            sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700
            help turn any space into the perfect place to listen to music, get work
            done, or just shut out the world for a few moments and relax.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
