<section class="section" id="reviews">
  <div class="container">
    <div class="reviews-slider">
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-video-wrapper">
            <iframe
              src="https://www.youtube.com/embed/VqP11Ma_2Fk?si=0__7zr9Y4zVBnOui"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
          <div class="reviews-text-content">
            <h2 class="reviews-title">Reviews</h2>
            <div class="corporation-pagin-sb">
              <div>
                <a
                  href="https://www.youtube.com/watch?v=BUyLpf-u97Y&ab_channel=Bose"
                  class="bose-link"
                >Bose Сorporation</a
                >
                <p class="bose-text">
                  Critically acclaimed for their powerful noise cancelling,
                  astonishing sound, and unrivaled voice pickup, Bose Noise
                  Cancelling Headphones 700 help turn any space into the perfect
                  place to listen to music, get work done, or just shut out the
                  world for a few moments and relax.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-video-wrapper">
            <iframe
              src="https://www.youtube.com/embed/BUyLpf-u97Y?si=CCm00VUSstg4DvSW"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
          <div class="reviews-text-content">
            <h2 class="reviews-title">Reviews</h2>
            <div class="corporation-pagin-sb">
              <div>
                <a
                  href="https://www.youtube.com/watch?v=BUyLpf-u97Y&ab_channel=Bose"
                  class="bose-link"
                >Bose Сorporation</a
                >
                <p class="bose-text">
                  Bose Noise Cancelling Headphones 700 deliver everything you
                  expect — and things you never imagined possible. The perfect
                  balance of quiet, comfort, and sound.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-video-wrapper">
            <iframe
              src="https://www.youtube.com/embed/NgtznBDFRUo?si=irZOx2XWWAiMpcfS"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
          <div class="reviews-text-content">
            <h2 class="reviews-title">Reviews</h2>
            <div class="corporation-pagin-sb">
              <div>
                <a
                  href="https://www.youtube.com/watch?v=BUyLpf-u97Y&ab_channel=Bose"
                  class="bose-link"
                >Bose Сorporation</a
                >
                <p class="bose-text">
                  Real stories of people tuning in or out to feel peace, find escape, and for self-care
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="reviews-pagination">
        <button class="pagination-btn is-active">01</button>
        <button class="pagination-btn">02</button>
        <button class="pagination-btn">03</button>
      </div>
    </div>
  </div>
</section>
