<section class="section sound">
  <div class="container inner_sound">
    <h2 class="sound-title">The luxury of silence</h2>
    <picture class="sound-picture">
      <source
        srcset="
          /assets/img/sound/sound-desktop.webp    1x,
          /assets/img/sound/sound-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /assets/img/sound/sound-tablet.webp    1x,
          /assets/img/sound/sound-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /assets/img/sound/sound-mobile.webp    1x,
          /assets/img/sound/sound-mobile@2x.webp 2x
        "
        media="(min-width: 480px)"
      />

      <img
        src="/assets/img/sound/sound-mobile@2x.webp"
        alt="Headphones with noise cancellation"
        class="sound-image"
      />
    </picture>
    <ul class="sound-text-block">
      <li class="sound-text-item">
        <h3 class="sound-text-title">Maximum enjoyment</h3>
        <p class="sound-paragraph">In order to create a comfortable atmosphere - raise the level by level from the
          "transparent" mode to the maximum blocking of sounds. The conversation mode can be activated in one click
          using </p>
      </li>
      <li class="sound-text-item">
        <h3 class="sound-text-title">Crystal sound</h3>
        <p class="sound-paragraph">The speaker system and brand name active equalizer are able to provide high-quality
          and powerful sound at any volume level. You can be sure of no distortion and crystal clear at high and low
          frequencies.</p>
      </li>
    </ul>
  </div>
</section>
