<section class="section sound">
  <div class="container inner_sound">
    <h2 class="sound-title">The luxury of silence</h2>
    <picture class="sound-picture">
      <source
        srcset="
                  /assets/img/sound/sound-desktop.webp 1x,
                  /assets/img/sound/sound-desktop@2x.webp 2x
                      "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
                  /assets/img/sound/sound-tablet.webp 1x,
                  /assets/img/sound/sound-tablet@2x.webp 2x
                "
        media="(min-width: 768px)"
      />
      <source
        srcset="
                  /assets/img/sound/sound-mobile.webp 1x,
                  /assets/img/sound/sound-mobile@2x.webp 2x
                "
        media="(min-width: 480px)"
      />

      <img
        src="/assets/img/sound/sound-mobile@2x.webp"
        alt="sound"
        class="sound-image"
      />
    </picture>
  </div>
</section>
