<section class="section technology">
  <div class="container technology-inner">
    <div class="technology-text-block">
      <h3 class="technology-main-title">
        Bose AR
      </h3>
      <h4 class="technology-title">
        Brand name technology
      </h4>
      <p class="technology-paragraph">
        Bose AR is a unique audio platform augmented reality, that opens before
        you new facets of sound. It allows you
        to stay connected to the real world and immerse yourself in the virtual universe
        at the same time.
      </p>
    </div>
    <picture class="technology-picture">
      <source
        srcset="
          /assets/img/technology/technology-desktop.webp    1x,
          /assets/img/technology/technology-desktop@2x.webp 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /assets/img/technology/technology-tablet.webp    1x,
          /assets/img/technology/technology-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /assets/img/technology/technology-mobile.webp    1x,
          /assets/img/technology/technology-mobile@2x.webp 2x
        "
        media="(min-width: 480px)"
      />

      <img
        src="/assets/img/technology/technology-mobile@2x.webp"
        alt="Headphones with noise cancellation"
        class="technology-image"
      />
    </picture>
  </div>
</section>