.ability-title {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  margin-bottom: 32px;
}

.ability-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ability-list-item {
  position: relative;
  padding-left: 24px;
  font-family: var(--font-primary), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: var(--color-text-primary);
}


.ability-list-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 13px;
  height: 13px;
  background-color: var(--color-accent);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .ability-title {
    text-align: left;
    font-size: 30px;
  }

  .ability-list-item {
    font-size: 16px;
    line-height: 145%;
  }
}

@media screen and (min-width: 1440px) {
  .ability-inner {
    padding-inline: 110px;
  }

  .ability-title {
    text-align: left;
    font-size: 54px;
  }

  .ability-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

