@media screen and (max-width: 1439px) {
  .overlay {
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background);
    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;
    z-index: 900;
  }

  .burger-container {
    margin-top: 52px;
  }

  .overlay.is-open {
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
  }

}