@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
  url('../assets/fonts/gilroy/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/gilroy/Gilroy-Semibold.woff2') format('woff2'),
  url('../assets/fonts/gilroy/Gilroy-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
  url('../assets/fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/roboto-condenced/RobotoCondensed-Regular.woff2') format('woff2'),
  url('../assets/fonts/roboto-condenced/RobotoCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
