.guarantee-title {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-primary);
  margin-bottom: 32px;
}

.warranty-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 280px;
}

.warranty-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 37px;
}

.warranty-list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  background-color: var(--color-accent);
  border-radius: 50%;
}

.warranty-title {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: var(--color-text-secondary);
  max-width: 152px;
  text-align: left;
  margin-bottom: 16px;
}

.warranty-text {
  font-family: var(--font-primary), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: var(--color-text-primary);
  text-align: left;
}

.guarantee-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .guarantee-title {
    font-size: 30px;
    line-height: 1.2;
  }

  .guarantee-wrapper {
    flex-direction: row;
    align-items: start;
    gap: 0;
  }

  .guarantee-picture {
    background-color: #1d1d1d;
    order: -1; /* якщо в HTML картинка йде після списку, а на планшеті має бути зліва */
    margin-left: -60px;
    margin-right: 60px;
  }

  .warranty-list {
    width: 100%; /* або обмеж ширину */
    max-width: 300px;
    gap: 55px;
  }

  .warranty-title {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .warranty-text {
    font-size: 16px;
    line-height: 1.45;
    max-width: 294px;
  }
}

@media screen and (min-width: 1440px) {
  .guarantee-title {
    font-size: 54px;
    margin-bottom: 50px;
  }

  .warranty-list {
    max-width: 405px;
  }

  .guarantee-wrapper {
    align-items: center;
  }

  .guarantee-picture {
    margin-left: -80px;
    margin-right: 150px;
  }

  .warranty-text {
    max-width: 294px;
  }

  .guarantee-wrapper {
    position: relative;
    background-image: url('/assets/img/icon/curve.svg');
    background-repeat: no-repeat;
    background-position: bottom 0 right -40px;
    background-size: 301px auto;
  }
}