.hero {
  padding-bottom: 26px;
}

.text {
  font-family: var(--font-primary), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: var(--color-text-primary);
  margin-bottom: 16px;
  width: 222px;
}

.text-block {
  margin-bottom: 32px;
}

.text-block p.text:nth-child(2) {
  width: 93px;
}

.hero-order {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.hero-order-title {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  font-size: 43px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  margin-bottom: 32px;
}

.hero-order-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  display: block;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  background: var(--color-accent);
  padding: 19px 113px;
  border: none;
  height: 58px;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgba(223, 61, 58, 100) 100%
  );
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
  color 0.5s ease 0s,
  background-color 0.5s ease;
  width: 100%;
}

.headphones-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;

}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 50px;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .text-block {
    margin-bottom: 105px;
  }

  .hero-order {
    display: block;
    margin-bottom: 0;
  }

  .hero-order-title {
    font-size: 42px;
    width: 289px;
    margin-bottom: 40px;
  }

  .hero-order-button:hover {
    color: rgba(255, 255, 255, 1);
    background-position: -100% 100%;
    background-color: var(--color-hover);
  }

  .headphones-wrapper {
    margin-right: -60px;
  }

}

@media screen and (max-width: 1439px) {
  .container-inner {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1440px) {
  .hero .container-inner {
    padding-right: 0;
  }

  .hero {
    padding-bottom: 85px;
    position: relative;
  }

  .hero-wrapper {
    justify-content: flex-start;
    align-items: start;
  }

  .text-block {
    margin-bottom: 94px;
  }

  .text-block p.text:nth-child(2) {
    width: 110px;
  }

  .text {
    font-family: var(--font-primary), sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 36px;
    width: 360px;
  }

  .headphones-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -80px;
  }

  .headphones {
    max-width: 700px;
  }

  .hero-order-title {
    font-size: 74px;
    width: auto;
    margin-bottom: 86px;
  }

  .hero-order-button {
    font-size: 20px;
    display: block;
    padding: 22px 166px;
    max-width: 400px;
  }
}
