.order-title {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  margin-bottom: 32px;
}

.order-image-container {
  display: flex;
  max-width: 100%;
}

.order-image {
  background-color: #1d1d1d;
  transition: opacity 0.4s ease;
  opacity: 1;
  margin-bottom: 32px;
}

.order-image.fade-out {
  opacity: 0;
}

.order-image.fade-in {
  opacity: 1;
}

.color-ring-icon {
  width: 44px;
  height: 44px;
}

.color-option-container {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.order-icon svg {
  stroke: var(--color-accent);
}

.color-option {
  display: inline-block;
  cursor: pointer;
}

.color-option input[type="radio"] {
  display: none;
}

.color-option input[type="radio"]:checked + .color-ring svg circle:last-of-type {
  stroke: #df3d3a;
  stroke-width: 2px;
  fill: black;
}

.color-option.white input[type="radio"]:checked + .color-ring svg circle:last-of-type {
  fill: white;
}

.order-character-list {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.order-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 25px 0 25px;
}

.order-list-item::after {
  position: absolute;
  content: '';
  bottom: 2px;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

.order-item-text {
  font-family: var(--font-primary), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.8);
}

.order-price-container {
  margin-top: 32px;
}

.order-price {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 24px;
}

.section.order {
  padding-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .order-title {
    font-size: 30px;
  }

  .order-price-container {
    max-width: 294px;
    margin-top: 52px;
  }

  .order-price-container .hero-order-button {
    padding: 16px 114px;
  }

  .order-price {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .color-ring-icon {
    width: 58px;
    height: 58px;
  }

  .section.order {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .order-content .hero-order-button {
    width: 400px;
    min-height: 68px;
  }

  .color-option-container {
    margin-bottom: 50px;
  }

  .order-image {
    max-width: 700px;
    margin-bottom: 0;
    margin-right: -80px;
  }

  .order__inner {

    padding-left: 190px;
  }

  .order-character-list {
    max-width: 400px;
  }

  .order-title {
    font-size: 54px;
    margin-bottom: 50px;
  }

  .color-ring-icon {
    width: 70px;
    height: 70px;
  }

  .order-price-container {
    max-width: 400px;
    margin-top: 60px;
  }

  .order-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .right-order-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .section.order {
    padding-bottom: 85px;
  }
}


