.reviews-title {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
}

.bose-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  color: var(--color-accent);
}

.reviews-slider {
  display: flex;
}

.bose-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: var(--color-text-primary);
}

.reviews-pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 85px;
}

.pagination-btn {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-accent);
  cursor: pointer;
  padding: 12px 12px 0 12px;
  position: relative;
  opacity: 0.2;
}

.pagination-btn.is-active {
  color: var(--color-accent);
  opacity: 1;
}

.bose-link:hover {
  opacity: 0.5;
}

.pagination-btn:not(:last-child)::after {
  content: '-';
  position: absolute;
  right: -10px;
  color: var(--color-accent);
  user-select: none;
  font-weight: 600;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .reviews-slider {
    flex-direction: row;
  }

  .reviews-item {
    display: none;
  }

  .reviews-item.active {
    display: block;
  }

}

@media screen and (min-width: 1440px) {
  .reviews-title {
    margin-bottom: 50px;
  }

  .bose-text {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 16px;
    height: 319px;
  }

  .reviews-video-wrapper {
    margin-right: 150px;
  }
}
