.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  margin-bottom: 32px;
}

.bose-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  color: var(--color-accent);

}

.reviews-slider {
  display: flex;
  flex-direction: column;
}

.bose-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: var(--color-text-primary);
  margin-top: 16px;
}

.reviews-pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 85px;
}

.pagination-btn {
  font-family: var(--font-secondary), sans-serif;
  background: none;
  border: none;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-accent);
  padding-right: 20px;
  cursor: pointer;
  position: relative;
  opacity: 0.2;
}

.pagination-btn.is-active {
  color: var(--color-accent);
  opacity: 1;
}

.bose-link:hover {
  opacity: 0.5;
}

.pagination-btn:not(:first-child) {
  padding-left: 20px;
}

.pagination-btn:not(:last-child)::after {
  content: '-';
  position: absolute;
  right: -10px;
  color: var(--color-accent);
  user-select: none;
  font-weight: 600;
  font-size: 18px;
}

.desktop-only {
  display: none;
}

.reviews-video-wrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  max-width: 920px;
  margin: 0 auto 32px auto;
}

.reviews-video-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.reviews-item {
  display: none;
}

.reviews-item.active {
  display: block;
}

.reviews-pagination {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .bose-text {
    font-size: 16px;
    line-height: 1.45;
    max-width: 530px;
  }

  .bose-link {
    font-size: 20px;
  }

  .reviews-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .mb-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .reviews-title {
    margin-bottom: 50px;
  }

  .bose-text {
    font-size: 16px;
    line-height: 1.45;
    margin-top: 16px;
  }

  .reviews-video-wrapper {
    margin-left: -80px;
    max-width: 920px;
    margin-right: 150px;
  }

  .reviews-item.active {
    display: flex;
    flex-direction: row;
  }
}
