.sound-title {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .sound-title {
    text-align: right;
  }

  .sound-picture {
    display: block;
    margin-inline: -60px;
  }

  .sound-image {
    object-fit: cover;
  }
}
