.inner_sound {
  position: relative;
}

.sound-title {
  font-family: var(--font-primary), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  margin-bottom: 32px;
}

.sound-image {
  display: flex;
  position: absolute;
  left: 0;
}